<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kServerPassword</key>
	<string></string>
	<key>kServerUsername</key>
	<string></string>
	<key>kServerDBURLString</key>
	<string>ENTER YOUR DB URL - http://testing.iriscouch.com/grocery-sync</string>
</dict>
</plist>
